body {
    font-family: Open Sans, Arial;
    color: white;
    margin: 0;
    background-color: #1b2838;
    padding-top: 104px; /* Size of header */
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    font-size: 14px;
    margin: 0;
}

button {
    font-family: Open Sans, Arial;
    color: #b8b6b4;
    border: none;
    background-color: transparent;
    transition: color 0.3s;
}

button:hover {
    color: #ffffff;
    cursor: pointer;
}