/* Sections */
.about-section,
.contact-section,
.games-section,
.projects-section {
  position: relative;
  padding: 20px 2%;
  overflow: hidden;
  margin: 0;
}
.contact-section {
  background-color: #171a21;
  bottom: 0;
}
/* Titles & Text */
.about-title,
.contact-title,
.games-title,
.projects-title {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-weight: bold;
  text-align: center;
  margin: 0 0 15px;
  padding-top: 2px;
}
.about-text {
  text-indent: 3em;
  font-size: 16px;
  color: #fff;
  line-height: 1.6;
  padding: 0px 25%;
  margin-bottom: 10px;
}
.highlight {
  color: #66c0f4;
  font-weight: bold; 
}


/* Projects Display */
.projects-content {
  position: relative;
  padding: 0 15%;
  width: 70%;
  margin: 0 auto;
}
.project-grid {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}
.project {
  position: relative;
  height: 390px;
  overflow: hidden;
  box-shadow: 0 0 5px #000000;
}
.project-image-container {
  width: 100%;
  height: 100%;
}
.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project-image.screenshot-code {
  object-position: left top;
}
.project-image.quest {
  scale: 2;
  transform: translate(10px, -20px);
}
.project-image.terrain {
  scale: 1.2;
}

.project-info {
  position: absolute;
  bottom: 0;
  width: 90%;
  height: 94px;
  padding: 8px 5% 12px 5%;
  background-color: #1d5c7e;
  border: 1px solid #2a3e59;
  transform: translateY(0);
  transition: transform 0.25s ease;
  z-index: 2;
}
.project-about {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  text-align: center;
  line-height: 1.75;
  padding: 15px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #fff;
  opacity: 0;
  transition: opacity 0.25s ease;
  transition-delay: 0.1s;
}
.project-hover {
  position: absolute;
  top: 0;
  left: 0;
  height: 274px;
  width: 100%;
  z-index: 3;
}
.project-hover.active + .project-info {
  transform: translateY(100%);
}
.project-hover.active ~ .project-about {
  opacity: 0.8;
}

.project-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
  padding-top: 2px;
}



/* Contact Display */
.contact-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.logos {
  width: 50px;
  height: auto;
  padding: 5px 15px;
  opacity: 0.6;
  transition: all 0.2s ease-in-out;
}
.logos:hover {
  transform: scale(1.1);
  opacity: 1;
  cursor: pointer;
}
.contact-text {
  color: #fff;
}
.contact-text p {
  text-align: center;
  padding-bottom: 5px;
}
@media screen and (max-width: 910px) {
  .about-section,
  .contact-section,
  .games-section,
  .projects-section {
    padding: 20px 5%;
  }
  .about-text {
    padding: 0;
  }
  .projects-content {
    padding: 0;
    width: 100%;
  }
  .project-grid {
    grid-template-columns: 1fr;
  }
}