/* Sections */
.about-section,
.contact-section,
.games-section,
.projects-section {
  position: relative;
  padding: 20px 2%;
  overflow: hidden;
  margin: 0;
}
/*.about-section,
.games-section,
.projects-section {
  margin: 0 auto;
} */
.contact-section {
  background-color: #171a21;
  bottom: 0;
}

/* Titles & Text */
.about-title,
.contact-title,
.games-title,
.projects-title {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-weight: normal;
  text-align: center;
  margin: 0 0 10px;
  padding-top: 2px;
}
.about-text {
  color: #fff;
  padding: 0px 450px;
}



/* Contact Display */
.contact-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.logos {
  width: 50px;
  height: auto;
  padding: 5px 15px;

  opacity: 0.6;
  transition: all 0.2s ease-in-out;
}
.logos:hover {
  transform: scale(1.1);
  opacity: 1;
  cursor: pointer;
}