/* Sections */
.about-section,
.contact-section,
.game-projects-section,
.code-projects-section {
    padding: 20px 20px;
}
.contact-section {
    background-color: #171a21;
}

/* Titles & Text */
.about-title,
.contact-title,
.game-projects-title {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-weight: normal;
    text-align: center;

    margin: 0 0 10px;
    padding-top: 2px;
}
.about-text,
.contact-text {
    color: white;
    padding: 0px 100px;
}

/* Game Display */
.game-projects-content {
    position: relative;
    width: 940px;
    margin: 0 auto;
}
.game-preview-whole {
    height: 380px;
    margin-top: 5px;
}
.game-preview-rotating {
    display: grid;
    grid-template-columns: 1fr 1fr;

    height: 353px;

    background-image: url("../images/background_info.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;

    box-shadow: 0 0 7px 0px #000;
}
.game-picture-row {
    display: flex;
    justify-content: center;
}
.preview-image {
    height: 100%;
    width: auto;
    max-height: 353px;
    margin-right: 10px;

    box-shadow: 0 0 10px 5px #000;
}
.game-info {

}
.game-title {
    display: block;
    margin-top: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
}

/* Game Carousel Thumbs */
.game-carousel-thumbs {
    text-align: center;
    min-height: 37px;
    padding-bottom: 4px;
}
.game-carousel-thumbs div {
    display: inline-block;
    margin: 12px 2px;
    width: 15px;
    height: 9px;
    border-radius: 2px;
    background-color: hsla(202, 60%, 100%, 0.2);
    transition: background-color 0.2s;
    cursor: pointer;
}
.game-carousel-thumbs div.focus {
    background-color: hsla(202, 60%, 100%, 0.4);
}

/* Game Arrow Buttons */
.game-arrow-left {
    position: absolute;
    width: 23px;
    height: 36px;
    padding: 36px 11px;
    cursor: pointer;

    top: 122px;
    left: -46px;
    background: linear-gradient(to right, rgba(0,0,0,0.3) 5%, rgba(0,0,0,0) 95%);
}
.game-arrow-left:hover {
    background: linear-gradient(to right, rgba(171,218,244,0.3) 5%, rgba(171,218,244,0) 95%);
}
.game-arrow-left div {
    background-position-x: 23px;
    background-image: url(../images/arrows.png);
    width: 23px;
    height: 36px;
}
.game-arrow-right {
    position: absolute;
    width: 23px;
    height: 36px;
    padding: 36px 11px;
    cursor: pointer;

    top: 122px;
    right: -46px;
    background: linear-gradient(to right, rgba(0,0,0,0) 5%, rgba(0,0,0,0.3) 95%);
}
.game-arrow-right:hover {
    background: linear-gradient(to right, rgba(171,218,244,0) 5%, rgba(171,218,244,0.3) 95%);
}
.game-arrow-right div {
    background-image: url(../images/arrows.png);
    width: 23px;
    height: 36px;
}
